.pet1{
    background-color: seagreen;
    padding: 20px;
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet2{
    background-color: palevioletred;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}.pet3{
    background-color: darkblue;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}.pet4{
    background-color: violet;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}.pet5{
    background-color: salmon;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}.pet6{
    background-color: slateblue;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}.pet7{
    background-color: slategrey;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}.pet8{
    background-color: sienna;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}.pet9{
    background-color: purple;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}.pet10{
    background-color: gold;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet11{
    background-color: powderblue;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet12{
    background-color: seagreen;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet13{
    background-color: peru;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet14{
    background-color: palevioletred;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet15{
    background-color: green;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet16{
    background-color: aquamarine;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet17{
    background-color: slategray;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet18{
    background-color: violet;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet19{
    background-color: sandybrown;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet20{
    background-color: skyblue;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet21{
    background-color: red;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet22{
    background-color: darkmagenta;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet23{
    background-color: grey;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet24{
    background-color: palevioletred;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet25{
    background-color: blueviolet;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet26{
    background-color: violet;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet27{
    background-color: green;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
.pet28{
    background-color: skyblue;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}
